html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.desserts-container {
  font-family: 'Arial', sans-serif;
  height: 100vh; 
  width: 100%; 
  margin: 0;
  padding: 0;
  border-radius: px;
  position: relative;
  background-image: url('/assets/images/sobremesa.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
    
}

.title {
  text-align: center;
  font-size: 36px;
  color: #fff; /* Cor do título em branco para contraste */
  margin-bottom: 20px;
  font-weight: bold;
}

.desserts-list {
  list-style-type: none;
  padding: 0;
}

.dessert-item {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7); /* Fundo branco com transparência */
  margin: 35px;
  padding: 15px;
  width: 50%;
  border-radius: 25px; /* Menor arredondamento */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* Sombra reduzida */
  transition: transform 0.3s ease;
 }

.dessert-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.dessert-info {
  display: flex;
  flex-direction: column;
}

.dessert-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.dessert-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.dessert-bottom {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dessert-price {
  font-size: 16px;
  font-weight: bold;
  color: #28a745;
}

.cart-icon {
  color: #28a745;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.3s, color 0.3s;
}

.cart-icon:hover {
  color: #ffd700;
  transform: scale(1.2);
}

.cart-container {
  position: fixed;
  top: 60px;
  bottom: 100px; /* Adiciona distância da parte inferior */
  right: 25px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 50px;
  max-width: 500px;
  width: 100%;
  z-index: 10;
  overflow-y: auto;
  padding-bottom: 40px; /* Espaço interno na parte inferior */
  margin-bottom: 20px;  /* Espaço externo na parte inferior */
}
.cart-title {
  font-size: 24px;
  margin-bottom: 50px;
}

.cart-list {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  width: 100%;
  white-space: nowrap; 
}

.cart-price {
  color: #070600;
  font-size: 18px;
  white-space: nowrap; 
  padding: 0;
}

.remove-icon {
  color: #dc3545;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.3s, color 0.3s;
}

.remove-icon:hover {
  color: #c82333;
  transform: scale(1.2);
}

.cart-total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 20px;
  color: #070600;
}

.total-price {
  font-weight: bold;
  color: #0c0a01;
}

.desserts-container {
  padding-top: 70px; /* Espaçamento acima para evitar sobreposição com os botões */
}


.top-buttons {
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.circle-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1d0eec;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.circle-button:hover {
  background-color: rgba(0, 0, 255, 0.8);
  transform: scale(1.1);
}

.circle-button.left {
  left: 10px;
}

.circle-button.right {
  right: 10px;
}

.circle-button svg {
  font-size: 24px;
  color: #ffffff; /* Cor branca para a seta */
}

.circle-button:hover {
  background-color: #0000ff; /* Azul mais escuro no hover */
  transform: scale(1.1);
}

.circle-button:hover svg {
  color: #ffffff; /* Mantém a seta branca no hover */
}

.circle-button:disabled {
  background-color: #6960ec;
  cursor: not-allowed;
}
